
/* External CSS for the detailed view */

body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}


h1 {
  color: #333;
  font-size: 32px;
  margin-bottom: 10px;
  text-align: center;
}

h2 {
  color: #666;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

/* Styling the table view of the weekly streaks */

table {
  border-collapse: collapse;
  margin: 0 auto 20px;
}

th {
  background-color: #eee;
  color: #333;
  font-weight: normal;
  padding: 10px;
  text-align: center;
}

th:first-child {
  border-top-left-radius: 4px;
}

th:last-child {
  border-top-right-radius: 4px;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:nth-child(odd) {
  background-color: #fff;
}

p {
  color: #666;
  margin-bottom: 10px;
  text-align: center;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  padding: 8px;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

input[type="checkbox"]:checked {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

input[type="submit"] {
  background-color: #337ab7;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  transition: background-color 0.3s ease-in-out;
  display: block;
  margin: 0 auto;
}

input[type="submit"]:hover {
  background-color: #286090;
}

a.go-home {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: #333;
  text-decoration: none;
  border: 1px solid #333;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  width: 10%;
  margin: auto;
}

a.go-home:hover {
  background-color: #333;
  color: #fff;
}